.mynav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(195, 208, 221);
    margin: 20px;
}
.mynav ul{
    display: flex;
    padding:0px;
    margin-left: 900px;
   
}
.mynav ul li{
    list-style: none;
    width:100px;       
}
